<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="top-container-tops">
  <div class="header-top">
    <div class="logo-circle-top"></div>
    <div class="service-name-top">無NO薬〜野菜栽培〜</div>
    <div class="auth-buttons-top">
      <%= link_to '会員登録', new_user_registration_path, class: 'signup-button' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'login-button' %>
    </div>
  </div>

  <div class="main-content-top">
    <div class="visual-introduction">
      <h2>自宅で簡単に始める無農薬野菜作り</h2>
      <p>スケジュール管理とアドバイスで初心者でも安心!</p>
    </div>

    <div class="share-buttons">
      <a href="https://twitter.com/share" class="twitter-share-button"
        data-url="https://www.homegarden-harvest.com/"
        data-text="無NO薬〜野菜栽培〜"
        data-hashtags="無農薬,野菜栽培">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <a href="https://line.me/R/msg/text/?自宅で簡単に始める無農薬野菜作り%0Ahttps://www.homegarden-harvest.com/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" alt="LINEでシェア">
      </a>
    </div>
  </div>

  <div class="footer-top">
    <%= link_to '利用規約', terms_path %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>
  </div>
</div>
