<!-- ヘッダー -->
<div class="header-profile">
  <h1>プロフィール編集</h1>
  <%= link_to 'マイページ', user_path(current_user), class: 'profile-page-link' if user_signed_in? %>
</div>

<!-- プロフィール編集フォーム -->
<div class="edit-profile-form-profile">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field-profile">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>

    <div class="field-profile">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>

    <div class="field-profile">
      <%= f.label :prefecture %><br>
      <%= f.select :prefecture, PREFECTURES, include_blank: true %>
    </div>

    <div class="actions-profile">
      <%= f.submit "更新" %>
    </div>
  <% end %>
</div>

<!-- フッター -->
<div class="footer-profile">
</div>
