<%= stylesheet_link_tag 'mypage', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="content-wrapper">
  <div class="header-mypage">
    <h1>ようこそ<%= @user.username %>さん</h1>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-link' %>
  </div>

  <!-- 通知履歴を表示 --> 
  <div class="notifications-history">
    <!-- この行に通知表示のタイトルを入れる -->
    <% @user.notifications.order(sent_at: :desc).limit(5).each do |notification| %>
      <div class="notification">
        <p><%= notification.message %></p>
        <p><%= notification.sent_at.strftime("%Y-%m-%d %H:%M") %></p>
      </div>
    <% end %>
  </div>

  <!-- グラフ描画領域 -->
  <div class="harvest-chart-container">
    <canvas id="harvestChart" 
            data-vegetables="<%= @aggregated_harvests.map(&:vegetable_type).to_json %>" 
            data-amounts="<%= @aggregated_harvests.map(&:total_amount).to_json %>"
            data-savings="<%= @aggregated_harvests.map(&:total_savings).to_json %>"></canvas>
  </div>

  <!-- Chart.jsとカスタムJavaScriptの読み込み -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <%= javascript_include_tag 'harvest_chart' %>
  
  <div class="button-container-mypage"> <!-- ここに野菜を作るボタンを追加 -->
    <%= link_to '野菜を作る', vegetables_path, class: 'btn-vegetable-mypage' %>
  </div>
</div>

<footer class="footer-mypage">
  <!-- <%= link_to 'LINE通知設定はこちらから', edit_user_setting_path, class: 'line-notification-link-mypage' %> --> 
  <%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'profile-edit-link-mypage' %>
</footer>
