<div class="password-reset-container">
  <h2>パスワードの再設定</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "新しいパスワード" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "新しいパスワード（確認用）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワードを再設定", class: "btn btn-vegetable" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
