<h1>バジルのスケジュール</h1>

<div class="schedule-buttons">
  <% @events.each_with_index do |event, index| %>
    <%= button_tag event.name, type: 'button', class: 'btn btn-info stage-button', data: { toggle: 'modal', target: "modal#{index}", 'event-id': event.id } %>

    <!-- モーダル定義 -->
    <div class="modal fade" id="modal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel<%= index %>">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel<%= index %>"><%= event.name %>のアドバイス</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- 各イベントに応じたアドバイスを動的に挿入 -->
            <%= render partial: "events/advice_#{event.name.downcase}", locals: { event: event } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- 既存の収穫ボタン -->
<%= link_to '収穫する', harvest_path, class: 'btn btn-success' %>
