<div class="content-wrapper">
  <div class="header-tomato">
    <h1>トマトのスケジュール</h1>
  </div>

  <%= render 'events/sowing_form', vegetable: @vegetable %>

  <div class="event-periods">
    <h2>イベント期間</h2>
    <% @events.each do |event| %>
      <div class="event-period-details">
        <strong><%= event.name %>:</strong>
        <p>開始日：<%= event.start_date ? event.start_date.strftime("%Y-%m-%d") : '未定' %></p>
        <p>終了日：<%= event.end_date ? event.end_date.strftime("%Y-%m-%d") : '未定' %></p>
        <p>期間：<%= event.start_date && event.end_date ? (event.end_date - event.start_date).to_i : '未定' %> 日間</p>
        <p><%= event_description(event.name) %></p>
      </div>
    <% end %>
  </div>

  <div class="schedule-buttons">
    <% @events.each do |event| %>
      <%= button_tag event.name, type: 'button', class: 'btn btn-info stage-button', data: { toggle: 'modal', target: "#event#{event.id}_modal", 'event-id': event.id } %>
      <div class="modal fade" id="event<%= event.id %>_modal" tabindex="-1" role="dialog" aria-labelledby="event<%= event.id %>_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header modal-header-tomato">
              <h5 class="modal-title" id="event<%= event.id %>_label"><%= event.name %>のアドバイス</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- AJAXでアドバイスを動的に挿入 -->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="harvest-button-container">
    <%= link_to '収穫する', harvest_path, class: 'btn btn-success' %>
  </div>

  <div class="footer">
    <p>© 2024 Tomato Scheduler</p>
  </div>
</div>
