<div class="show-harvest-background">
  <div class="harvest-results">
    <h1>節約額の計算結果</h1>
    <p>
      <%= @harvest.vegetable_type %>の収穫量: <%= @harvest.amount %> g<br>
      市場価格: <%= @price_per_kg %> 円/g<br>
      <% savings_in_yen = @savings.round(2) %>
      <strong>節約額: <%= savings_in_yen >= 0 ? "+" : "-" %><%= savings_in_yen %> 円</strong>
    </p>
    <%= link_to 'マイページに戻る', user_path(current_user), class: 'btn btn-primary' %>
  </div>
</div>
