<div class="show-harvest-background">
  <div class="harvest-results">
    <h1>節約額の計算結果</h1>
    <p>
      <%= @harvest.vegetable_type %>の収穫量: <%= @harvest.amount %> g<br>
      市場価格: <%= @harvest.price_per_kg %> 円/kg<br>
      <strong>節約額: <%= @savings >= 0 ? "+" : "-" %><%= (@savings.abs / 1000.0).round(1) %> 円</strong>
    </p>
    <%= link_to 'マイページに戻る', user_path(current_user), class: 'btn btn-primary' %>
  </div>
</div>
