<!DOCTYPE html>
<html>
<head>
  <title>野菜入力画面</title>
  <%= stylesheet_link_tag 'vegetable', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'vegetable_selection', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header-vegetable">
    <div class="ghost-element"></div>
    <div class="title-container">
      <h1>育てる野菜を入力してください</h1>
    </div>
    <%= link_to 'マイページに戻る', user_path(current_user), class: 'mypage-link' %>
  </header>

  <div class="form-container">
    <div class="description">
      <p>下記のフォームに育てる野菜の名前と種まき日を入力してください。</p>
      <p>保存ボタンを押して野菜情報を保存し、登録ボタンを押して次のステップに進んでください。</p>
    </div>

    <%= form_with(url: vegetables_path, local: true, id: 'vegetable-form') do |form| %>
      <% if @vegetable&.errors&.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vegetable.errors.count, "error") %> prevented this vegetable from being saved:</h2>
          <ul>
            <% @vegetable.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name, "育てる野菜" %>
        <%= form.text_field :name, id: 'vegetable-name' %>
      </div>

      <div class="field">
        <%= form.label :sowing_date, "種まき日" %>
        <%= form.date_field :sowing_date, id: 'sowing-date' %>
      </div>

      <div class="actions">
        <%= form.submit "保存", id: 'save-vegetable-button', class: 'button save-button' %>
      </div>
    <% end %>

    <button id="register-vegetable-button" class="button register-button">登録</button>
  </div>

  <footer class="footer-vegetable">
    <p>Copyright &copy; 2024 Vegetable Service</p>
  </footer>
</body>
</html>
