<%= form_with url: schedule_path, method: :post, local: true do |form| %>
  <div class="vegetable-buttons">
    <%= form.button 'ニンジン', class: 'vegetable-button carrot', data: { value: 'carrot' } %>
    <%= form.button 'トマト', class: 'vegetable-button tomato', data: { value: 'tomato' } %>
    <%= form.button 'バジル', class: 'vegetable-button basil', data: { value: 'basil' } %>
  </div>
  <%= form.hidden_field :selected_vegetable, value: nil, id: 'selected-vegetable-field' %>
  <%= form.submit '選択', class: 'select-button' %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var vegetableButtons = document.querySelectorAll('.vegetable-button');
    var selectedVegetableField = document.getElementById('selected-vegetable-field');

    vegetableButtons.forEach(function(button) {
      button.addEventListener('click', function() {
        selectedVegetableField.value = this.getAttribute('data-value');
      });
    });
  });
</script>
