<div class="header">
  <!-- 会員登録ボタン -->
  <%= link_to '会員登録', new_registration_path(resource_name), class: 'header-button' %>
  <!-- パスワードリセットボタン -->
  <%= link_to 'パスワードをお忘れの方はこちら', new_password_path(resource_name), class: 'header-button' %>
</div>

<div class="login-form-container">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "login-button" %>
    </div>
  <% end %>

  <!= --LINEでのサインボタン -->
  <form class="button_to" method="post" action="/users/auth/line">
    <button data-turbo="false" type="submit">Sign in with Line</button>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off" />
  </form><br>
</div>

<div class="footer">
  <%= link_to '利用規約', terms_path %>
  <%= link_to 'プライバシーポリシー', privacy_policy_path %>
</div>

<!-- 以下の行を削除またはコメントアウト -->
<!-- <%= render "devise/shared/links" %> -->
